name: Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker tag (testing or latest)'
        required: true
        type: choice
        options:
          - testing
          - latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Pull base golang image
      run: docker pull golang:1.21.4-bookworm
    
    - name: Build base image
      run: docker build -f docker/Base.Dockerfile -t louislam/dockge:base .
    
    - name: Build healthcheck image
      run: docker build -f docker/BuildHealthCheck.Dockerfile -t louislam/dockge:build-healthcheck .
    
    - name: Build and push main image
      run: |
        docker build -f docker/Dockerfile -t f3nici/dockge:${{ inputs.tag }} .
        docker push f3nici/dockge:${{ inputs.tag }}
